
:root {
  --greydark: #363636;
  --greymedium: #424242;
  --greylight: #BCBCBC;
  --greyultralight: #E9E9E9;
  --orange: #FF9900;
  --blue: #3299BB;
  
  --widthfilmtitle: 30%;
}

html {
  font-size: 10px;
}

body {
  background: var(--greydark);
  
  color: var(--greyultralight);
  font-family: sans-serif;
  font-size: 1.8rem;
}

* {
  box-sizing: border-box;
}

/* Main Nav */
.nav-main {
  padding: 2rem 3rem;
}

.nav-main h1, .nav-main h1 a {
  margin: 0;
  padding: 0;
  
  color: var(--orange);
}

.nav-main ul {
  display: flex;

  margin: 1rem 0 0;
  padding: 0;

  list-style-type: none;
}

.nav-main li {
}

.nav-main li a {
  display: inline-block;

  padding: .75rem 1rem;

  color: var(--blue);
}

/* Content */
.content {
  padding: 0 3rem;
}

/* Film nav */
.film-nav {
  grid-column: 1 / span 2;
  display: flex;
  flex-wrap: wrap;
  
  margin: 0;
  padding: 2rem 0 0;
  
  list-style-type: none;
}

.film-nav li:first-child {
  width: 100%;
}

.film-nav li.active a {
  background: var(--greymedium);
  border-radius: .5rem;

  color: var(--orange);
}

.film-nav a {
  display: inline-block;
  
  padding: .5rem 1rem;
  
  color: var(--greyultralight);
  line-height: 1;
}

.film-nav li:last-child a {
  border-right: 0;
}

.film-nav a:hover,
.film-nav a:focus {
  color: var(--blue);
}